go 1.18

use (
	./BFF/LoginBFF
	./GinService/LoginService
	./GinService/getparam
	./LaunchService/LaunchUser/client
	./LaunchService/LaunchUser/server
	./api/protobuf/commodity
	./api/protobuf/payment
	./api/protobuf/shoppingCart
	./api/protobuf/stock
	./api/protobuf/user
	./cmd/greeting/client
	./cmd/greeting/server
	./config
	./lib/Commodity_Infor
	./lib/Commodity_Stock
	./lib/Shopping_Cart
	./lib/User_Account
	./lib/User_Payment
	./lib/lib_test
	./services/commodityService
	./services/paymentService
	./services/stockService
	./services/userService
)
