go 1.18

use (
	./BFF/PaymentBFF
	./api/protobuf/commodity
	./api/protobuf/payment
	./api/protobuf/shoppingCart
	./api/protobuf/stock
	./api/protobuf/user
	./cmd/login
	./cmd/server
	./config
	./ginservice/getparam
	./ginservice/loginservice
	./launchservice/launchcommodity/client
	./launchservice/launchcommodity/server
	./launchservice/launchpayment/client
	./launchservice/launchpayment/server
	./launchservice/launchstock/client
	./launchservice/launchstock/server
	./launchservice/launchuser/client
	./launchservice/launchuser/server
	./lib/commodityinfor
	./lib/commoditystock
	./lib/lib_test
	./lib/shoppingcart
	./lib/useraccount
	./lib/userpayment
	./service/commodityservice
	./service/paymentservice
	./service/stockservice
	./service/userservice
)
